.button {
  background: $green;
  border: none;
  color: white;
  text-align: center;
  font-size: $font-size-small;
  padding: 0.7rem 1.9rem;
  border-radius: 5px;
  transition: background 0.3s ease;

  &:hover {
    background: darken($green, 10%);
  }

  &--big {
    width: 100%;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    font-size: $font-size-medium;
  }
}
