.footer {
  &--bordered {
    border-top: 1px solid #e0e2e6;
  }

  &__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 12px;
  }

  &__copyright {
    margin: 1.6rem 0;
    color: #b7bfcd;
    font-size: $font-size-xsmall;
    line-height: 1;
  }

  &__nav {
    display: flex;
  }

  &__link {
    @extend .footer__copyright;
    display: block;
    margin: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link + &__link {
    margin-left: 20px;
  }

  &__flex-wrapper &__link + &__link {
    margin-left: 26px;
  }
}
