.icons-group {
  display: inline-flex;
  align-items: center;

  .icon {
    position: relative;
    top: 2px;

    &--notifications {
      left: -2px;
      top: 1px;
    }
  }

  .icon + .icon {
    margin-left: 23px;
  }
}
