@include fontFace("ProximaNova-Regular", "../fonts/ProximaNova-Regular");
@include fontFace("ProximaNova-Light", "../fonts/ProximaNova-Light");

html {
  font-size: 62.5%;
  min-width: 970px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: $font-size-medium;
  color: $gray;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.text-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
